{% extends 'shared/base.html' %}
{% block content %}
<main class="mx-auto flex min-h-screen w-full items-center justify-center bg-gray-900 text-white">
  <section class="flex w-[30rem] flex-col space-y-10 items-center">
    <div class="text-center text-3xl font-bold">Scan UPI QR Code</div>
    <img src="{{ url_for('static', filename=('img/upi_qr.jpg'|static_bust)) }}" alt="UPI QR Code" class="mx-auto w-64 h-64 object-contain border border-gray-700 rounded bg-white" />
    <button onclick="window.history.back();" class="mt-4 px-4 py-2 bg-indigo-600 text-white rounded hover:bg-indigo-400 font-bold">Back</button>
  </section>
</main>
{% endblock %} 